<div *ngIf="book">
  <h2>Book "{{book.title}}" - {{book.author}} details</h2>


  <div>
    <label>Author</label>:
    <input [(ngModel)]="book.author" placeholder="Author">
  </div>

  <div>
    <label>Title</label>:
    <input [(ngModel)]="book.title" placeholder="Title">
  </div>

  <div>
    <label>ISBN</label>:
    <input [(ngModel)]="book.isbn" placeholder="ISBN">
  </div>

  <div>
    <label>Price</label>:
    <input [(ngModel)]="book.price" placeholder="Price">
  </div>

  <div>
    <label>Price</label>:
  <input [(ngModel)]="book.quantity" placeholder="Quantity">
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
