<div *ngIf="selectedBook">
  <h2>
    {{selectedBook.title | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Books</h2>
<ol class="books">
  <li *ngFor="let book of books " [class.selected]="book === selectedBook" (click)="onSelect(book)">
    {{book.title}}
    <button class="delete"
            (click)="delete(book); $event.stopPropagation()">x
    </button>
  </li>
</ol>
