<h3>Add Book</h3>
<div>
  <label>Author </label>:
  <input #bookAuthor>
</div>
<div>
  <label>Title </label>:
  <input #bookTitle>
</div>
<div>
  <label>ISBN </label>:
  <input #bookISBN/>
</div>
<div>
  <label>Price </label>:
  <input #bookPrice>
</div>
<div>
  <label>Quantity </label>:
  <input #bookQuantity>
</div>
<div>
  <button (click)="goBack()">Back</button>
  <button (click)="save(bookAuthor.value,bookTitle.value,bookISBN.value,
   bookPrice.value, bookQuantity.value)">Save</button>
</div>
