<table class="table table-striped">
<thead>
<tr>
  <th scope="col">#</th>
  <th scope="col">Title</th>
  <th scope="col">Author</th>
  <th scope="col">ISBN</th>
  <th scope="col">Price</th>
  <th scope="col">Quantity</th>
  <th scope="col">Actions</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let book of books;">
  <th scope="row">{{book.id}}</th>
  <td>{{book.title}}</td>
  <td>{{book.author}}</td>
  <td>{{book.isbn}}</td>
  <td>{{book.price}}</td>
  <td>{{book.quantity}}</td>
  <td>
    <button class="btn-primary btn-sm">Update</button>
    <button class="btn-danger btn-sm">Remove</button>
  </td>
</tr>
</tbody>
</table>

<router-outlet></router-outlet>
